.fourth_part_div1
{
    padding:0px;
    margin-top: 30px;
}
.fourth_part_div2
{
    margin:20px 0;
    padding-right:20px;
}
.app_text_ul
{
    padding: 0;
    padding-right: 20px;
}
.app_text_li
{
    display: flex;
    align-items: center;
}
.app_get_icon
{
    margin-right: 10px;
}
.app_get_icon img{
    width:50px;
}
.app_get_text
{
    display: inline-block;
    font-size: 15px;
    text-align: left;
    padding-right: 30px;
    margin-bottom: 10px;
}
.first_image
{
    margin-right: 6%;
}
.app_code
{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.app_code>p{
    padding-right: 36%;
    font-size: 14px;
}
@media screen and (min-width:1200px)
{
    .fourth_part_div1
    {
        margin-top: 0;
    }
   
}
@media screen and (max-width:900px)
{
    .app_get_text
    {
        font-size: 14px;
        padding-right: 0;
    }   
}
@media screen and (max-width:973px)
{
    .app_code>p{
        padding-right: 31%;
    }   
}
@media screen and (max-width:767px)
{
    .fourth_part_div1
    {
       max-width: 540px;
    }
    .fourth_part_div2
    {
       margin-left: 20px;
    }
    .app_button>div>img
    {
        width: 45%;
    }   
    .app_text_li{
        margin-bottom: 0;
    }
    .app_text_ul
    {
        padding: 0;
    }
    .app_code{
        display: none;
    }
}