.banner
{
    background-color: black;
    color: white;
}
.banner>.container
{
    background-size: 519px;
    display: block;
    background-repeat: no-repeat;
    height:400px;
}
@media (max-width:991px){
    .container{
        background-size: cover;
        display: block !important;
        background-position: center;
    }
}
.logo
{
    width:120px;
    margin-top:35px;
}
.mobileLogoBox
{
    display: none;
}
@media (max-width:991px){
  .mobileLogoBox{
      width:66px;
      margin:0 auto;
      display: block;
      margin-top: 10px !important;
  }
  .logo{
      display: none;
  }
}
@media (max-width:991px){
    .banner>.container
    {
        height:500px;
    }   
    .mainRow{
        height:100%;
    }
}
.bannerDescription{
    min-height: 300px;
    display: flex;
    padding-top: 33px;
    width: 100%;
}
.bannerDetails
{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}
.downloadBtn{
    display: none;
}
.formInput{
    display: flex;
}
.formInput > input{
    font-weight: 400;
    border: 0;
    outline: none;
    padding: .375rem .75rem;
    font-size: 16px;
    border-radius: .25rem;
    margin-right: 10px;
}
.formButton{
  background-color: #00b137;
  padding: 10px 15px;
  text-align: center;
  border-radius: 0.25rem;
  font-size: 15px;
  color:white;
  font-weight: bold;
}
@media (max-width:760px){
    .bannerDetails{
        display: none;
    }
    .downloadBtn{
        display: block;
        width: 100%;
        height: auto;
        padding:10px;
        background-color:#00b137;
        border-radius: 7px;
        margin-top: auto;
        margin-bottom:20px;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
    }
}
@media (max-width:580px){
    .downloadBtn{
        margin-left:15px;
    }
}
.usersTotal
{
    margin: 0;
    width: 100%;
    height:auto;
    background: linear-gradient(34deg, rgba(48,47,47,1) 0%, rgba(48,47,47,1) 50%,
     rgba(29,29,29,1) 50%, rgba(29,29,29,1) 100%);
}
.usersTotalRight
{
    text-align: right;
    padding-right:80px;
    color: white;
    padding-left: 0;
}
.usersInnerDesktop
{
    display: inline-block;
    text-align: center;
    padding-top: 10px;
}
.usersInnerDesktop>div{
    font-size: 26px;
    color: #e1e1e1;
    line-height: 26px;
}
.usersInnerDesktop>p{
    font-size: 12px;
    color: #a8a8a8;
}
.usersInnerMobile
{
    display: none;
}
.usersTotalLeft
{
    text-align: left;
    padding-left:80px;
    color: white;
}
@media (max-width: 766px){

    .usersInnerDesktop{
        display: none;
    }
    .usersInnerMobile
    {
        display: inline-block;
        text-align: center;
        margin-top: 10px;
    }
    .usersInnerMobile>div
    {
        font-weight: bold;
        font-size: 22px;
        color: #e1e1e1;
        line-height: 26px;       
    }
    .usersInnerMobile>p{
        font-size: 12px;
        color: #a8a8a8;
    }
    /* .steps_ul li{
        width: 100%;
    } */
}
.download_mobile
{
    width: 100%;
    margin-top: auto;
    margin-left: 15px;
}
